@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu");
.body {
  padding: 0%;
  margin: 0%;
  font-family: "Lato", sans-serif; }

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  color: lightcoral !important; }

.navbar .nav-link {
  font-size: 16px;
  color: black !important;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .navbar .nav-link:hover {
    color: #00ebeb !important; }

.active .nav-link {
  color: #00ebeb !important; }

.menu-right-btn {
  padding: 13px 46px;
  background-color: transparent;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in; }
  .menu-right-btn:hover {
    color: white;
    background-color: #00ebeb; }

.site-content {
  background-image: url(https://images.pexels.com/photos/33972/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-attachment: fixed;
  background-size: cover; }

.main, .container-fluid, .site-tittle .site-desc {
  color: white;
  text-shadow: 0px 0px 0.01px black;
  font-family: "Righteous", cursive; }
  .main .site-tittle, .container-fluid .site-tittle, .site-tittle .site-desc .site-tittle {
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px; }
  .main .site-desc, .container-fluid .site-desc, .site-tittle .site-desc .site-desc {
    font-size: 14px;
    padding: 0px 15px 0px 15px; }
  .main .site-btn1, .container-fluid .site-btn1, .site-tittle .site-desc .site-btn1 {
    margin-left: 20%;
    background-color: black;
    color: white; }
  .main .site-btn2, .container-fluid .site-btn2, .site-tittle .site-desc .site-btn2 {
    background-color: white; }
  .main .flex-bott, .container-fluid .flex-bott, .site-tittle .site-desc .flex-bott {
    margin-top: 5%;
    margin-bottom: 40%; }

.main, .section-1, .container, .heading-1 {
  margin-top: 5%; }
  .main .heading-2, .section-1 .heading-2, .container .heading-2, .heading-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px; }
  .main .para-1, .section-1 .para-1, .container .para-1, .heading-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%; }
  .main .card-text, .main .para-1, .section-1 .card-text, .section-1 .para-1, .container .card-text, .container .para-1, .heading-1 .card-text, .heading-1 .para-1 {
    color: rgba(0, 0, 0, 0.59); }
  .main .card-title, .section-1 .card-title, .container .card-title, .heading-1 .card-title {
    padding-top: 15px; }

.main, .section-1 {
  margin-bottom: 8%; }

.main, .section-2 .container-fluid {
  background-image: url(https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-attachment: fixed; }
  .main .heading-1, .section-2 .container-fluid .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: "Righteous", cursive;
    color: rgba(0, 0, 89, 0.6) !important;
    width: 80%; }
  .main .para, .section-2 .container-fluid .para {
    width: 80%;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 7%; }
  .main .btn, .section-2 .container-fluid .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%; }

/*# sourceMappingURL=main.css.map */